#comments
  @extend $block
  padding: article-padding
  margin: block-margin 0
  &:empty
    display: none
  a
    color: color-link
  strong
    font-weight 700
    line-height 2
  p
    font-size 12px
    line-height 2
